* {
    box-sizing: border-box;
}
main  {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 1em;
    width: 100%;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {
    section {
        background: red;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    section {
        background: yellow;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    section {
        width: 50%
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    section {
        width: 25%
    }
}